@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: poppins, sans-serif, system-ui;
}

html,
body {
  height: 100%;
  background-color: var(--rosa-salmon);
}

:root {
  --rojo-sakura: #f24341;
  --blanco-arroz: #f7ebe8;
  --negro-tinta: #1e1e24;
  --gris-oscuro: #444140;
  --rosa-salmon: #ffba9e;
}

body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow-x: hidden;
}

/* Estilos generales */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

nav {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1vh clamp(1vw, 100vw, 12vw);
  background: var(--rojo-sakura);
  z-index: 100;
}

.logo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: clamp(1.6rem, 8vw, 2rem);
  font-weight: 900;
  color: var(--blanco-arroz);
  text-transform: uppercase;
  letter-spacing: 3px;
  transition: transform 0.3s ease;
  font-family: "Kaushan Script", cursive;
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

.logo img {
  filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.5));
}
.logo:hover {
  transform: scale(1.06);
}

/* Contenedor de botones */
.nav-botones {
  display: flex;
  justify-content: center;
  gap: 1.2vw;
  flex-wrap: wrap;
  margin-left: auto;
}

/* Botones de navegación */
.nav-botones button {
  position: relative;
  background: none;
  border: none;
  padding: 3px 0.4vw;
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--blanco-arroz);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  font-family: "Kaushan Script", cursive;
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

.nav-botones button::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0%;
  height: 8px;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 10"><path d="M 0 5 Q 10 0, 20 5 T 40 5 T 60 5 T 80 5 T 100 5 T 120 5 T 140 5 T 160 5 T 180 5 T 200 5" stroke="white" fill="transparent" stroke-width="2"/></svg>');
  background-repeat: no-repeat;
  background-size: cover;
  transition: width 0.3s ease-in-out;
}

.nav-botones button:hover::after {
  width: 100%;
}

nav::before {
  content: "";
  position: absolute;
  bottom: -20px; /* Ajusta la posición si es necesario */
  left: 0;
  width: 100%;
  height: 40px;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 6"><path d="M 0 3 Q 5 1, 10 3 T 20 3 T 30 3 T 40 3 T 50 3 T 60 3 T 70 3 T 80 3 T 90 3 T 100 3 T 110 3 T 120 3 T 130 3 T 140 3 T 150 3 T 160 3 T 170 3 T 180 3 T 190 3 T 200 3" stroke="%23F24341" fill="transparent" stroke-width="2" stroke-linecap="round"/></svg>');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 1;
  z-index: -1;
  filter: drop-shadow(0px 10px 5px rgba(0, 0, 0, 0.2));
}

#container {
  background-color: #ffa987;
  flex: 1;
  display: flex;
  padding: 5vh clamp(0vw, 12vw, 12vw) 0;
}

/* Contenedor principal */
#container .contenedor-inicio {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.contenedor-inicio .left-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex: 1;
}

.contenedor-inicio .image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.left-container {
  display: flex;
  flex-direction: column;
  font-family: poppins, sans-serif, system-ui;
  padding-right: clamp(1vw, 100vw, 10vw);
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

.left-container h1 {
  font-size: clamp(1.7rem, 8vw, 2.2rem);
  color: var(--rojo-sakura);
  margin-bottom: -8px;
  font-weight: 800;
}

.left-container p:first-of-type {
  font-size: clamp(1.2rem, 8vw, 2.5rem);
  color: var(--negro-tinta);
  font-weight: 600;
  text-overflow: ellipsis;
  line-height: 1.2;
  margin-bottom: 3vh;
}

.left-container p:last-of-type {
  color: var(--gris-oscuro);
  font-size: clamp(0.8rem, 8vw, 1.1rem);
  margin-bottom: 4.5vh;
}

.left-container button {
  background: var(--gris-oscuro);
  border: none;
  padding: 8px 12px;
  font-size: 1rem;
  color: var(--blanco-arroz);
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.image-container {
  position: relative;
}

.imagen-fondo {
  object-fit: cover;
  width: 100%;
  height: 100%;
  filter: drop-shadow(0px 2px 15px rgba(0, 0, 0, 0.5));
}

.imagen-landing {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 92%;
  height: auto;
}

/* CSS para el menú */
.contenedor-principal-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.contenedor-principal-menu h2 {
  font-size: clamp(1.5rem, 8vw, 2.5rem);
  color: var(--negro-tinta);
  font-weight: 800;
  text-align: center;
  background-color: var(--blanco-arroz);
  width: 100%;
  position: relative;
  top: 14px; /* Ajusta este valor según sea necesario */
  padding: 1ch 0 0.6ch;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
}

.contenedor-menu {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(580px, 1fr));
  grid-auto-rows: 270px;
  gap: 2.5ch;
  width: 100%;
  background-color: var(--blanco-arroz);
  padding: 2.5ch 2.5ch 6ch;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 5vh;
}

.contenedor-sushi {
  display: flex;
  align-items: center;
  border: 1px solid #d0d0d0;
  padding: 1rem;
  border-radius: 14px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.contenedor-sushi:hover {
  transform: scale(1.02);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
}

.contenedor-texto-sushi {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
}

.contenedor-texto-sushi h3 {
  font-size: clamp(1rem, 5vw, 2rem);
  color: var(--rojo-sakura);
  font-weight: 800;
  text-overflow: ellipsis;
  line-height: 1.2;
  margin: 2vh 0 1vh;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
}

.contenedor-texto-sushi p:first-of-type {
  font-size: clamp(0.8rem, 5vw, 1rem);
  color: var(--gris-oscuro);
  text-overflow: ellipsis;
  line-height: 1;
  margin-bottom: auto;
}

.contenedor-texto-sushi p:last-of-type {
  font-size: clamp(1rem, 5vw, 1.5rem);
  color: var(--negro-tinta);
  font-weight: 600;
  text-overflow: ellipsis;
  line-height: 1.2;
}

.contenedor-sushi img {
  object-fit: cover;
  max-height: 100%;
  overflow: hidden;
  aspect-ratio: 1 / 1;
  height: 100%;
  width: auto;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.contenedor-menu::before {
  content: "";
  position: absolute;
  bottom: -19px; /* Ajusta la posición si es necesario */
  left: 0;
  width: 100%;
  height: 40px;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 6"><path d="M 0 3 Q 5 1, 10 3 T 20 3 T 30 3 T 40 3 T 50 3 T 60 3 T 70 3 T 80 3 T 90 3 T 100 3 T 110 3 T 120 3 T 130 3 T 140 3 T 150 3 T 160 3 T 170 3 T 180 3 T 190 3 T 200 3" stroke="%23f7ebe8" fill="transparent" stroke-width="2" stroke-linecap="round"/></svg>');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 1;
  z-index: 0;
  filter: drop-shadow(0px 10px 5px rgba(0, 0, 0, 0.2));
}

.contenedor-contacto {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor-contacto-interno {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 2vw;
  padding: 3vh 2vw;
  border: none;
  flex-wrap: wrap;
  background-color: var(--blanco-arroz);
  position: relative;
  max-width: 100%;
}

.contenedor-contacto-interno::before {
  content: "";
  position: absolute;
  bottom: -19px; /* Ajusta la posición si es necesario */
  left: 0;
  width: 100%;
  height: 40px;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 6"><path d="M 0 3 Q 5 1, 10 3 T 20 3 T 30 3 T 40 3 T 50 3 T 60 3 T 70 3 T 80 3 T 90 3 T 100 3 T 110 3 T 120 3 T 130 3 T 140 3 T 150 3 T 160 3 T 170 3 T 180 3 T 190 3 T 200 3" stroke="%23f7ebe8" fill="transparent" stroke-width="2" stroke-linecap="round"/></svg>');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 1;
  z-index: 0;
  filter: drop-shadow(0px 10px 5px rgba(0, 0, 0, 0.2));
}

.contenedor-contacto-interno::after {
  content: "";
  position: absolute;
  top: -20px; /* Ajusta la posición si es necesario */
  left: 0;
  width: 100%;
  height: 40px;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 6"><path d="M 0 3 Q 5 1, 10 3 T 20 3 T 30 3 T 40 3 T 50 3 T 60 3 T 70 3 T 80 3 T 90 3 T 100 3 T 110 3 T 120 3 T 130 3 T 140 3 T 150 3 T 160 3 T 170 3 T 180 3 T 190 3 T 200 3" stroke="%23f7ebe8" fill="transparent" stroke-width="2" stroke-linecap="round"/></svg>');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 1;
  z-index: 0;
}

.contacto-div-izquierdo {
  display: flex;
  flex-direction: column;
  height: auto;
}

.contacto-div-izquierdo h2 {
  font-size: clamp(1.5rem, 2.5vw, 2rem);
  color: var(--negro-tinta);
  font-weight: 800;
  margin-bottom: auto;
}

.contacto-div-izquierdo p:not(:last-of-type) {
  line-height: 1.8;
  color: var(--gris-oscuro);
  font-size: clamp(0.9rem, 2.5vw, 1.1rem);
}

.contacto-div-izquierdo p:last-of-type {
  margin-top: auto;
  font-size: clamp(1.2rem, 2.5vw, 1.5rem);
  font-weight: 700;
}

iframe {
  flex: 1;
  min-width: 200px;
  border: none;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.contenedor-acercade {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.contenedor-acercade-interior {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-auto-rows: auto;
  gap: 1.5vw;
  margin-top: 8vh;
  height: auto;
}

.contenedor-acercade-izquierda {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; /* Asegura que el contenido no se desborde */
  filter: drop-shadow(0px 8px 20px rgba(0, 0, 0, 0.5));
}

.contenedor-acercade-izquierda img {
  max-width: 100%;
  max-height: 100%;
  height: 100%;
  width: auto;
  object-fit: cover;
  border-top-left-radius: 14px;
  border-bottom-left-radius: 14px;
}

.contenedor-acercade-derecha {
  background-color: var(--blanco-arroz);
  padding: 0 2vw 1vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  filter: drop-shadow(0px 8px 20px rgba(0, 0, 0, 0.5));
}

.contenedor-acercade-derecha h2 {
  font-size: clamp(1.5rem, 2.5vw, 2rem);
  border-bottom: 2px solid var(--rojo-sakura);
  color: var(--rojo-sakura);
  margin: 1.2vh 0;
  font-weight: 800;
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
}

.contenedor-acercade-derecha p {
  font-size: clamp(0.9rem, 2.5vw, 1.1rem);
  color: var(--gris-oscuro);
  line-height: 1.2;
}

.contenedor-acercade-derecha ul {
  padding-left: 20px;
  list-style: square;
}

.contenedor-acercade-derecha ul li::marker {
  color: var(--rojo-sakura);
  font-size: clamp(0.9rem, 2.5vw, 1.1rem);
}

.contenedor-acercade-derecha ul li span {
  font-weight: 700;
}

.contenedor-acercade-derecha ul li {
  font-size: clamp(0.9rem, 2.5vw, 1.1rem);
  color: var(--gris-oscuro);
  line-height: 1.2;
  margin-bottom: 1.2vh;
}
@media (max-width: 900px) {
  .contenedor-menu {
    grid-template-columns: 1fr;
    grid-auto-rows: 550px;
  }

  .contenedor-sushi {
    flex-direction: column-reverse;
    align-items: center;
  }

  .contenedor-texto-sushi {
    align-items: center;
    text-align: center;
    justify-content: space-around;
    max-width: 100%;
  }

  .contenedor-sushi img {
    max-height: 100%;
    width: 100%;
    height: auto;
  }
}

@media (max-width: 1700px) {
  .contenedor-menu {
    grid-auto-rows: 330px;
  }
}
