@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: poppins, sans-serif, system-ui;
}

html,
body {
  height: 100%;
}

:root {
  --rojo-sakura: #f24341;
  --blanco-arroz: #f7ebe8;
  --negro-tinta: #1e1e24;
  --gris-oscuro: #444140;
  --rosa-salmon: #ffba9e;
}

body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: var(--rosa-salmon);
  overflow-x: hidden;
}

/* Estilos generales */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

nav {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1vh clamp(1vw, 100vw, 12vw);
  background: var(--rojo-sakura);
  z-index: 100;
}

.logo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: clamp(1.6rem, 8vw, 2rem);
  font-weight: 900;
  color: var(--blanco-arroz);
  text-transform: uppercase;
  letter-spacing: 3px;
  transition: transform 0.3s ease;
  font-family: "Kaushan Script", cursive;
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

.logo img {
  filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.5));
}
.logo:hover {
  transform: scale(1.06);
}

/* Contenedor de botones */
.nav-botones {
  display: flex;
  justify-content: center;
  gap: 1.2vw;
  flex-wrap: wrap;
  margin-left: auto;
}

/* Botones de navegación */
.nav-botones button {
  position: relative;
  background: none;
  border: none;
  padding: 3px 0.4vw;
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--blanco-arroz);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  font-family: "Kaushan Script", cursive;
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

.nav-botones button::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0%;
  height: 8px;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 10"><path d="M 0 5 Q 10 0, 20 5 T 40 5 T 60 5 T 80 5 T 100 5 T 120 5 T 140 5 T 160 5 T 180 5 T 200 5" stroke="white" fill="transparent" stroke-width="2"/></svg>');
  background-repeat: no-repeat;
  background-size: cover;
  transition: width 0.3s ease-in-out;
}

.nav-botones button:hover::after {
  width: 100%;
}

nav::before {
  content: "";
  position: absolute;
  bottom: -20px; /* Ajusta la posición si es necesario */
  left: 0;
  width: 100%;
  height: 40px;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 6"><path d="M 0 3 Q 5 1, 10 3 T 20 3 T 30 3 T 40 3 T 50 3 T 60 3 T 70 3 T 80 3 T 90 3 T 100 3 T 110 3 T 120 3 T 130 3 T 140 3 T 150 3 T 160 3 T 170 3 T 180 3 T 190 3 T 200 3" stroke="%23F24341" fill="transparent" stroke-width="2" stroke-linecap="round"/></svg>');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 1;
  z-index: -1;
  filter: drop-shadow(0px 10px 5px rgba(0, 0, 0, 0.2));
}

#container {
  background-color: #ffa987;
  flex: 1;
  display: flex;
}

/* Contenedor principal */
#container .contenedor-inicio {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0 clamp(1vw, 100vw, 12vw);
}

.contenedor-inicio .left-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex: 1;
}

.contenedor-inicio .image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.left-container {
  display: flex;
  flex-direction: column;
  font-family: poppins, sans-serif, system-ui;
  padding-right: clamp(1vw, 100vw, 10vw);
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

.left-container h1 {
  font-size: clamp(1.7rem, 8vw, 2.2rem);
  color: var(--rojo-sakura);
  margin-bottom: -8px;
  font-weight: 800;
}

.left-container p:first-of-type {
  font-size: clamp(1.2rem, 8vw, 2.5rem);
  color: var(--negro-tinta);
  font-weight: 600;
  text-overflow: ellipsis;
  line-height: 1.2;
  margin-bottom: 3vh;
}

.left-container p:last-of-type {
  color: var(--gris-oscuro);
  font-size: clamp(0.8rem, 8vw, 1.1rem);
  margin-bottom: 4.5vh;
}

.left-container button {
  background: var(--gris-oscuro);
  border: none;
  padding: 8px 12px;
  font-size: 1rem;
  color: var(--blanco-arroz);
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.image-container {
  position: relative;
}

.imagen-fondo {
  object-fit: cover;
  width: 100%;
  height: 100%;
  filter: drop-shadow(0px 2px 15px rgba(0, 0, 0, 0.5));
}

.imagen-landing {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 92%;
  height: auto;
}
